---
import { Image } from "astro:assets";

const { name, title, image } = Astro.props;
---

<div class="col-12 col-lg-3">
  <div class="rounded-4 shadow">
    <Image
      src={image}
      alt={`Picture of ${name} - ${title} | Wholesalers Advantage`}
      class="image rounded-top-4 mb-3"
      loading="lazy"
    />
    <div class="p-3">
      <h3 class="fs-4 fw-bold mb-0">{name}</h3>
      <p class="fs-5 fw-bold mb-2">{title}</p>
      <p class="fs-5 text-body-secondary mb-0">
        <slot />
      </p>
    </div>
  </div>
</div>

<style>
  .image {
    width: 100%;
    height: auto;
  }
</style>
